<% include ../partials/header.ejs %>

<div class="container">
    <br/>
    <h2>Admin Dashboard</h2>
    <h4>Users</h4>
    <a href="<%=getRealUrl("/admin/create_users")%>">
        <button class="btn btn-primary">Create New Users</button>
    </a>
    <a href="<%=getRealUrl("/admin/export_users/json")%>">
        <button class="btn btn-primary">Get JSON</button>
    </a>
    <br/><br/>
    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Groups</th>
            <th scope="col">Identity Provider</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <%for(let i = 0; i < users.length; i++){%>
        <tr>
            <th scope="row"><%=users[i]._id%></th>
            <td><%=users[i].username%></td>
            <td><%=JSON.stringify(users[i].groups)%></td>
            <td><%=users[i].idp%></td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <%}%>
        </tbody>
    </table>
    <% include ../partials/footer.ejs %>
</div>
