<% include ../partials/header.ejs %>

<div class="container">
    <br>
    <h2>Welcome! <%= user.username %>
        <a href="<%=getRealUrl('/logout')%>"><button class="btn btn-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button></a>
    </h2>
    <% include ../partials/errors.ejs %>
    <% include ../partials/successes.ejs %>
    <h4>Application Registrations</h4>
    <p>You must configure each application for I.A. to work.</p>
    <a href="<%=getRealUrl('/developer/add_registration')%>"><button class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New Registration
    </button></a>
    <%for(let i = 0; i < applications.length; i++){%>
    <br><br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= applications[i].name %> <span class="badge badge-light"><i class="fa fa-unlock" aria-hidden="true"></i> Encryption Disabled</span></h5>
            <p class="card-text">
                Registered on <%= applications[i].createdAt %><br>
                Assertion Endpoint: <code><%= applications[i].assertionEndpoint %></code><br>
                Application ID: <code><%= applications[i]._id %></code>
            </p>
            <form method="post" action="<%=getRealUrl('/developer/remove_registration')%>">
                <input type="hidden" value="<%= applications[i]._id %>" name="id" />
                <button class="btn btn-danger">Remove Registration</button>
            </form>
        </div>
    </div>
    <%}%>

    <% include ../partials/footer.ejs %>
</div>
