<%- include('../../partials/header.ejs', {
title: "Applications - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Applications</li>
        </ol>
    </nav>

    <h2>Manage Applications</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <a href="<%= getRealUrl("/admin/applications/import") %>" class="btn btn-primary">
        Import Registration Request
    </a>

    <hr/>

    <% for(let i = 0; i < applications.length; i++){ %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= applications[i].name %> <span class="badge badge-light"><i class="fa fa-unlock"
                                                                                                  aria-hidden="true"></i> Encryption Disabled</span>
            </h5>
            <p class="card-text">
                Registered on <%= applications[i].createdAt %><br>
                Assertion Endpoint: <code><%= applications[i].assertionEndpoint %></code><br>
                Application ID: <code><%= applications[i]._id %></code>
            </p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#keys-panel-<%= i %>"
                    aria-expanded="false">
                Application Keys
            </button>

            <form method="post" style="display: inline-block"
                  action="<%= getRealUrl('/admin/applications/' + applications[i]._id + '/delete') %>">
                <button class="btn btn-danger">Revoke Registration</button>
            </form>

            <div class="collapse" id="keys-panel-<%= i %>">
                <br/>
                <div class="card card-body">
                    <form method="post" action="<%= getRealUrl('/admin/applications/keys/generate') %>">
                        <input type="hidden" name="id" value="<%= applications[i]._id %>"/>
                        <button class="btn btn-outline-primary">Generate New Pair</button>
                    </form>
                    <br/>
                    <% if(applications[i].keys.length == 0){ %>
                    <label class="text-muted">No keys available yet.</label>
                    <% } else { %>
                    <ul class="list-group">
                        <% for(let j = 0; j < applications[i].keys.length; j++){ %>
                        <li class="list-group-item">
                            <form method="post" action="<%= getRealUrl('/admin/applications/keys/revoke') %>">
                                <input type="hidden" value="<%= applications[i].keys[j]._id %>" name="id" />
                                <button class="btn btn-sm btn-danger float-right">Revoke</button>
                            </form>
                            <b>Publishable Key <code><%= applications[i].keys[j].publishableKey %></code></b><br/>
                            <b>Secret Key <code><%= applications[i].keys[j].secretKey %></code></b>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <% } %>

    <% include ../../partials/footer.ejs %>
</div>
