<%- include('../../partials/header.ejs', {
title: "Add Students " + course.getName() + " - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses') %>">Courses</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl(`/admin/courses/detail/${course.name}`) %>"><%= course.getName() %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Students</li>
        </ol>
    </nav>

    <h2><%= course.getName() %> - Add Students</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <label>
        Add students by typing their unique identifier on each line. It can be user ID, or <code>idp.username</code>.<br/>
        Adding students to course does not add them to tutorials.
    </label>

    <form method="post" id="student-form">
        <input type="hidden" id="students-input-hidden" name="data" />
        <div class="form-control" style="height: 300px; width: 100%;" id="students-input"></div>

        <br/>
        <button class="btn btn-primary" onclick="submitForm();">Add</button>
    </form>

    <% include ../../partials/footer.ejs %>
</div>

<script>
    let editor = ace.edit("students-input");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/text");
    function submitForm() {
        $("#students-input-hidden").val(editor.getValue());
        $("#student-form").submit();
    }
</script>