<%- include('../../partials/header.ejs', {
title: container.getName() + " Detail - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses') %>">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course Detail</li>
        </ol>
    </nav>

    <h2><%=container.getName()%> Detail</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <hr/>
    <h4>Basic Information</h4>

    <form method="post">
        <label>
            Container Name<br/>
            <small class="text-muted">Container's name for this course.</small>
        </label>
        <input type="text" class="form-control" value="<%=container.name%>" disabled/>
        <label class="mt-2">
            Course Name<br/>
            <small class="text-muted">Display name for the course.</small>
        </label>
        <input type="text" class="form-control" value="<%=container.getDisplayName()%>" name="name"/>

        <br/>
        <button class="btn btn-primary">Save</button>
    </form>

    <hr/>
    <h4>Tutorials</h4>
    <a href="<%=getRealUrl('/admin/courses/detail/' + container.name + '/tutorials/create')%>" class="btn btn-primary">Create Tutorial</a>
    <%if(tutorials.length === 0){%><p class="text-muted mt-2">No tutorials yet...</p><%}%>



    <% include ../../partials/footer.ejs %>
</div>
