<%- include('../../partials/header.ejs', {
title: "Add Students " + tutorial.getName() + " - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses') %>">Courses</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses/detail/' + course.name) %>"><%=course.getName()%></a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses/detail/' + course.name + "/tutorials/detail/" + tutorial.name) %>"><%=tutorial.getName()%></a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Students</li>
        </ol>
    </nav>

    <h2><%=course.getName()%> <%=tutorial.getName()%> - Add Students</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <label>
        By adding students to a tutorial, you are also adding them to the course.
    </label>

    <hr/>

    <div id="tut-add-students">
        <div class="row pb-2">
            <div class="col-md-4">Identity Provider</div>
            <div class="col-md-8">Username</div>
        </div>
        <div class="form-group" v-for="(student, key) in students">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" v-model="student.idp">
                        <option v-bind:value="idp.name" v-for="idp in config.identity_providers">{{ idp.display_name }}</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="student.username">
                        <div class="input-group-append">
                            <button class="btn btn-danger" v-on:click="removeStudent(key);">
                                <i class="fa fa-trash" aria-hidden="true"></i> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-light" v-on:click="addNewStudent();">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Another
        </button>

        <hr/>
        <form method="post" id="student-form">
            <input type="hidden" id="students-input-hidden" v-bind:value="getSubmissionText()" name="data" />
            <button class="btn btn-primary" onclick="submitForm();" v-bind:disabled="!getSubmissionText()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
            </button>
        </form>
    </div>

    <% include ../../partials/footer.ejs %>
</div>

<script>

    new Vue({
        el: '#tut-add-students',
        data: {
            config: <%- JSON.stringify(config) %>,
            students: [{idp: "", username: ""}]
        },
        methods: {
            addNewStudent: function() {
                this.students.push({idp: "", username: ""})
            },
            removeStudent: function(key) {
                this.students.splice(key, 1);
            },
            getSubmissionText: function() {
                let result = "";
                for(let student of this.students) {
                    if(student.idp && student.username) {
                        result += student.idp + "." + student.username + "\n";
                    }
                }
                return result;
            }
        }
    })

    function submitForm() {
        $("#student-form").submit();
    }
</script>