<%- include('../../partials/header.ejs', {
title: tutorial.getName() + " Detail - Admin Dashboard"
}) %>

<div class="container">
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin') %>">Home</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses') %>">Courses</a></li>
            <li class="breadcrumb-item"><a href="<%= getRealUrl('/admin/courses/detail/' + course.name) %>"><%=course.getName()%></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%=tutorial.getName()%></li>
        </ol>
    </nav>

    <h2><%=tutorial.getName()%> Detail</h2>

    <% include ../../partials/errors.ejs %>
    <% include ../../partials/successes.ejs %>

    <hr/>

    <% if(user.isAdmin()) { %>
    <h4>Basic Information</h4>

    <form method="post">
        <label>
            Container Name<br/>
            <small class="text-muted">Container's name for this tutorial.</small>
        </label>
        <input type="text" class="form-control" value="<%=tutorial.name%>" disabled/>
        <label class="mt-2">
            Tutorial Name<br/>
            <small class="text-muted">Display name for the tutorial.</small>
        </label>
        <input type="text" class="form-control" value="<%=tutorial.getDisplayName()%>" name="name"/>

        <br/>
        <button class="btn btn-primary">Save</button>
    </form>

    <hr/>

    <% } %>

    <h4>Students</h4>
    <a href="<%= getRealUrl('/admin/courses/detail/' + course.name + '/tutorials/detail/' + tutorial.name + '/students/add') %>" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Students
    </a>
    <br/><br/>
    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Misc Info</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i = 0; i < students.length; i++){ %>
        <tr>
            <th scope="row"><%= students[i].username %></th>
            <td class="text-muted">
                <%= students[i]._id %>@<%= students[i].idp %>
            </td>
            <td>
                <form method="post" action="<%= getRealUrl('/admin/courses/detail/' + course.name + '/tutorials/detail/' + tutorial.name + '/students/remove') %>">
                    <input type="hidden" name="name" value="<%=students[i]._id%>" />
                    <button class="btn btn-outline-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <% if(user.isAdmin()) { %>

    <br/>
    <h4>Danger Zone</h4>
    <div class="alert alert-danger" role="alert">
        Once a tutorial is deleted, all data will be lost, you can't recover it, and all user role associations will be removed.
    </div>
    <form action="<%= getRealUrl('/admin/courses/detail/' + course.name + '/tutorials/detail/' + tutorial.name + '/delete') %>" method="post">
        <button class="btn btn-danger">Delete Tutorial</button>
    </form>
    <% } %>

    <% include ../../partials/footer.ejs %>
</div>
